#hodContainer {
    position:fixed;
    margin: auto;
    height: 42vw;
    width: 36vw;
    background: url(mike.png) no-repeat;
    background-size: 200%;
    background-position: center;    
}

#hour,
#minute,
#second {
    position: absolute;
    background: rgb(0, 161, 22);
    border-radius: 5px;
    transform-origin: bottom;
}
 
#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}
 
#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}
 
#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
}
